@*

*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Contrato - @Model.Contract.ContractNum</title>

    <style>
        @@media print {
            .pagebreak {
                page-break-before: always;
            }

            @@media screen {
                div.divFooter {
                    display: none;
                }
            }

            @@media print {
                div.divFooter {
                    position: fixed;
                    bottom: 0;
                }
            }
        }
    </style>
</head>
<body>
    <img />
    <center><h3>CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE CONSULTORIA FINANCEIRA</h3></center>
    <div>
        <table border=1 width="100%">
            <tr>
                <td style="width: 25%">NOME FANTASIA:</td>
                <td style="width: 75%">@Model.User.Representation</td>
            </tr>
            <tr>
                <td>CNPJ:</td>
                <td>@Model.User.Cnpj</td>
            </tr>
            <tr>
                <td>DOC.Nº:</td>
                <td>@Model.Contract.ContractNum</td>
            </tr>
        </table>
        <table border=1 width="100%">
            <tr>
                <td style="width:20%">NOME:</td>
                <td style="width:80%" colspan="5">@Model.Client.Name</td>
            </tr>
            <tr>
                <td style="width:20%">ENDEREÇO:</td>
                <td style="width:80%" colspan="5">@Model.Client.Address, @Model.Client.Complement - @Model.Client.City / @Model.Client.State @Model.Client.Cep</td>
            </tr>
            <tr>
                <td>RG:</td>
                <td>@Model.Client.RG</td>
                <td>CPF:</td>
                <td>@Model.Client.CPF</td>

            </tr>
            <tr>
                <td>EMAIL:</td>
                <td>@Model.Client.Email</td>
                <td>TELEFONE</td>
                <td>@Model.Client.Contact</td>
            </tr>
            <tr>
                <td>PROFISSÃO</td>
                <td>@Model.Client.Profession</td>
                <td>ESTADO CIVIL</td>
                <td>@Model.Client.MaritalStatus</td>
            </tr>
        </table>
    </div>
    <p>Por meio do presente instrumento particular, de um lado o cliente / consumidor doravante denominada <b>CONTRATANTE</b>,</p>
    <p>e de outro lado:</p>
    <div style="width:100%; border: 1px solid black;">
        <p> <b>BRASCON INTERMEDIAÇÃO E AGENCIAMENTO DE SERVIÇOS LTDA</b>, sociedade empresarial de direito privado, regularmente inscrita no Cadastro Nacional da Pessoa Jurídica (CNPJ) sob o nº <b>53.161.146.0001-85</b>, com sede na <b>AV.SANTOS DRUMONT Nº 6061 EDF HELITOWER, PORTÃO , LAURO DE FREITAS</b>. através de seu representante legal doravante denominada <b>PRESTADORA DE SERVIÇOS</b>. </p>
    </div>
    <p>Separadamente denominadas “PARTE” e em conjunto “PARTES”, têm de maneira justa e acordada, o presente “<b>CONTRATO DE CONSULTORIA FINANCEIRA</b>”.</p>
    <h4><b>CLÁUSULA PRIMEIRA - DO OBJETO</b></h4>
    <p><b>1.1</b>     Constitui objeto do presente instrumento a <b>prestação de serviços de consultoria financeira</b>, que será realizada pela        <b>PRESTADORA DE SERVIÇOS</b> para a <b>CONTRATANTE</b>.</p>
    <div class="divFooter">ASSINATURA DO CONTRATANTE:________________________( idêntica ao doc. Identificação)</div>
    <div class="pagebreak"> </div>

    <p><b>1.2<u>     Em decorrência da consultoria financeira, a CONTRATADA orientará a CONTRATANTE a realizar investimentos que melhor atendam aos interesses do CONTRATANTE.</u></b></p>
    <p><b>1.3</b>     Os serviços de <b>consultoria</b>, objeto do presente instrumento, incluem o que se segue:</p>
    <p><b>a)</b>   <u>Análise do perfil</u> da CONTRATANTE através de consultores financeiros internos; E, após a consulta será expedido em até 24 horas, o relatório da consultoria financeira devidamente prestado. Logo,acabada a relação entre as partes com o serviço totalmente prestado. </p>
    <p><b>b)</b>   <u>A escolha do investimento</u> a ser adquirido será realizada, exclusivamente pelo CONTRATANTE, de forma livre e espontânea e independente do serviço da consultoria, que apenas fará a indicação,  com seu relatório, e opinamento, através de sua expertise de mercado, do melhor produto financeiro e ainda de acordo com o valor do crédito, valor de parcela, capacidade  financeira do cliente, tipo do bem e demais disposições do perfil do CONTRATANTE;</p>
    <p><b>c)</b>   Atendimento e esclarecimento de dúvidas através de e-mail e telefone fixo, enquanto vigente o contrato entre as partes;</p>
    <p><b>d)</b>   Auxílio com informações sobre a documentação necessária;</p>
    <p><b>e)</b>   Prestar as informações que lhe forem solicitadas pela CONTRATANTE pertinentes ao presente contrato de consultoria, através da ENTREGA DO RELATÓRIO DE CONSULTORIA FINANCEIRA AO FINAL OU ATÉ EM 72 HORAS APÓS A ANAMNESE;</p>
    <p><b>f)</b>   Desempenhar suas atribuições de modo a atender os interesses e objetivos financeiros do CONTRATANTE;</p>
    <p><b>g)</b>   Empregar no exercício de sua atividade, o cuidado e a diligência que qualquer pessoa ativa e proba deve dispensar em seus próprios negócios.</p>
    <p><b>1.4</b>     Referidos serviços serão prestados por meio dos seguintes meios de contato:</p>
    <p><b>Email: @Model.Client.Email</b></p>
    <p></p>
    <p><b>Contato Telefônico: @Model.Client.Contact</b></p>
    <p></p>
    <div class="divFooter">ASSINATURA DO CONTRATANTE:________________________( idêntica ao doc. Identificação)</div>
    <div class="pagebreak"> </div>

    <h4><b>CLÁUSULA SEGUNDA – DO PREÇO E FORMA DE PAGAMENTO PELA ASSESSORIA E INTERMEDIAÇÃO FINANCEIRA</b></h4>
    <p><b>2.1</b>     O pagamento referente aos <b>HONORÁRIOS DE SERVIÇOS PRESTADOS PELA CONSULTORIA</b> será realizada pelo CONTRATANTE em <b><u>parcela única</u></b>, por meio de boleto ou em espécie mediante recibo ou por PIX para a chave:______________________, de titularidade da empresa de consultoria, ora <b>PRESTADORA DE SERVIÇO</b>. </p>
    <p><b>2.2</b>     Receberemos, nesta data,  a importância de R$___________________________________( por extenso), referente ao valor dos <b><u>HONORÁRIOS DE PRESTAÇÃO DE SERVIÇO POR CONSULTORIA FINANCEIRA</u></b>, conforme o presente contrato.</p>
    <div>
        <table border="1">
            <tr>
                <td>Valor Total: R$@Model.Proposal.CreditTotalValue</td>
                <td></td>
                <td>( )Deslocamento:</td>
                <td></td>
                <td>( ) Outros:</td>
            </tr>
            <tr><td colspan="5">OBSERVAÇÕES: ----- CASO TENHA TAXA DE DESLOCAMENTO ATÉ O CLIENTE : FAVOR CITAR AQUI. E SE POSSÍVEL A FORMA DE RECEBIMENTO DO PAGAMENTO. </td></tr>
        </table>
    </div>
    <center><p><b>HONORÁRIOS EXTRAS</b></p></center>
    <div class="divFooter">ASSINATURA DO CONTRATANTE:________________________( idêntica ao doc. Identificação)</div>
    <div class="pagebreak"> </div>

    <p><b>2.3</b>     A CONTRATANTE concorda que a remuneração pela <b>CONSULTORIA</b> será devida em sua integralidade, <b><u>e ainda que o CONTRATANTE se arrependa do produto financeiro que ESCOLHEU e CONTRATOU com a Administradora de Consórcio</u></b>, ou  outra entidade financeira, deverá formalizar este arrependimento através de documento de desistência com a própria empresa  contratada do produto financeiro ( administradora de consórcio ou outra entidade financeira), logo, EM NADA E POR MOTIVO ALGUM SERÁ devolvido o valor dos HONORÁRIOS da CONSULTORIA FINANCEIRA, uma vez que o serviço foi devidamente prestado com o relatório de consultoria, após ANAMNESE, estudo de mercado, perfil e objetivo do CONTRATANTE;  e, ainda, contrato do PRODUTO FINANCEIRO escolhido, perfeito, acabado e assinado pelo cliente, espontaneamente, com sua assinatura ( física ou digital com validade jurídica - assinatura válida pelo Certificado Digital), dando assim validação da sua ESCOLHA, CONCORDÂNCIA E ANUÊNCIA pela <b>indicação/parecer</b> feito  através da assessoria financeira, conforme contrato de prestação de serviço de assessoria e consultoria financeira.</p>
    <p><b>2.4</b>     Em caso excepcional, caso O CONTRATANTE deseje , após a conclusão deste primeiro serviço de consultoria, com a emissão do relatório consultivo, um POSTERIOR E OUTRO serviço ( através de <u>outro</u> contrato do posterior produto financeiro escolhido), desde já informa CIÊNCIA, ANUÊNCIA E CONCORDÂNCIA, bem como autoriza desde já a PRESTADORA DE SERVIÇOS a receber seja por PIX, TRANSFERÊNCIA (TED OU DOC) ou inclusive em espécie, mediante recibo, e realizar a transferência dos valores no prazo de   <u>24horas</u> para Administradora de Consórcio devidamente autorizada pelo Banco Central, referente a aquisição da cota de consórcio  em nome do consorciado (CONTRATANTE). O investimento a ser realizado pela CONTRATANTE junto a um Banco ou Financeira ou Administradora de Consórcios, seja na modalidade de consórcio, financiamento, empréstimo ou outra modalidade, é de inteira responsabilidade, CONCORDÂNCIA, CIÊNCIA E ANUÊNCIA EXPRESSA ( ASSINATURA E PAGAMENTO FEITO SOB SUA AUTORIZAÇÃO) do CONTRATANTE. Conforme inclusive o Termo e <u>Declaração de autorização em apenso a este</u>.</p>
    <h4><b>CLÁUSULA TERCEIRA – DAS OBRIGAÇÕES DA CONTRATANTE</b></h4>
    <p><b>3.1</b>     A CONTRATANTE se obriga a pagar pela consultoria financeira, <b>independente do investimento financeiro</b> a ser realizado junto a  um Banco ou Financeira ou Administradora de Consórcios.</p>
    <p><b>3.2</b>     A CONTRATANTE se obriga a cumprir com todas as obrigações descritas no presente instrumento, mantendo a boa-fé e não participando de atos que venham a acarretar prejuízos morais e/ou financeiros à PRESTADORA DE SERVIÇOS, <b><u>sobretudo eventuais difamações e  calúnias em redes sociais</u></b>, OU REALIZAÇÃO DE B.O por ato que este mesmo tenha CAUSADO ( CONTRATOS DEVIDAMENTE ESCOLHIDOS E ASSINADOS LEGALMENTE ENTRE AS PARTES – CAPAZES E LIVRES PARA CONTRATAR SERVIÇOS) sob pena do</p>
    <div class="divFooter">ASSINATURA DO CONTRATANTE:________________________( idêntica ao doc. Identificação)</div>
    <div class="pagebreak"> </div>

    <p>pagamento de uma multa no importe de <b><u>R$ 5.000,00 (cinco mil reais) para cada publicação ofensiva, testemunho ou uso de sua imagem em situações de matérias jornalísticas em redes de comunicação ou redes sociais, ou ainda por cada B.O. REALIZADO. Ademais, fica ainda ciente e CONCORDA que caso entre na JUSTIÇA com processo, para tentar anular este contrato, tendo realizado este de livre e espontânea vontade, poderá ainda, pagar a multa por DESACORDO E DESLEALDADE CONTRATUAL na importância do dobro do valor da presente contratação, tendo em vista as repercussões e danos à presente empresa prestadora de serviços</u></b>. </p>
    <h4><b>CLÁUSULA QUARTA – DAS OBRIGAÇÕES DA CONTRATADA</b></h4>x
    <p><b>4.1</b>     A PRESTADORA DE SERVIÇOS se obriga a prestar <b>a consultoria financeira</b> com excelência e assegura a confidencialidade de todas as informações prestadas pela CONTRATANTE, independentemente da natureza das informações compartilhadas, excetuadas as hipóteses de informações públicas e/ou cuja declaração se faça obrigatória por imposição legal.</p>
    <h4><b>CLÁUSULA QUINTA – DA VIGÊNCIA E RESCISÃO</b></h4>
    <p><b>5.1</b>     O presente instrumento passa a vigorar a partir da assinatura pela CONTRATANTE, <u>conjuntamente ao pagamento da  remuneração dos honorários</u> pela consultoria financeira prestada.</p>
    <p><b>5.2</b>     A desistência ou inadimplência do ora contratante com a Administradora do Consórcio ou do produto financeiro escolhido e assinado em contrato de adesão, IRÁ SE SUBMETER E SEGUIRÁ as REGRAS, REGULAMENTO da Administradora do Consórcio, bem como a LEI DOS CONSÓRCIOS ou do produto financeiro específico conforme regulamento e normativas do BANCO CENTRAL sobre aquele determinado produto. Isto é, desde já informado por este prestador de serviço de consultoria financeira, ao ora contratante, que nos casos de DESISTÊNCIA OU INADIMPLÊNCIA, o consumidor do CONSÓRCIO que aderiu NÃO RECEBE os valores pagos, ao consórcio,  integralmente e tampouco receberá a quantia de forma imediata, conforme O DISPOSTO NOS ARTIGOS 22 E 30 DA LEI FEDERAL 11.795/2008, que trata da forma de devolução através de sorteios mensais para os casos de quotistas excluídos ou desistentes, ou ao final do grupo no prazo de 30 dias do seu  encerramento, junto à Administradora de Consórcios escolhida.</p>
    <h4><b>CLÁUSULA SEXTA – DISPOSIÇÕES GERAIS</b></h4>
    <p><b>6.1</b>     A CONTRATANTE, ao assinar o presente instrumento, <b><u>declara e ratifica que leu na íntegra</u></b>, compreendeu e concorda com os  direitos e obrigações que <b><u>passa a ter e assumir, aceitando, sem restrições</u></b>, por si, seus herdeiros e sucessores, as condições ora    estabelecidas.</p>
    <div class="divFooter">ASSINATURA DO CONTRATANTE:________________________( idêntica ao doc. Identificação)</div>
    <div class="pagebreak"> </div>
    <p><b>6.2</b>     Não faz parte do presente instrumento ou da avença por ele expressa <b>nenhuma eventual promessa ou informação escrita ou   verbal do consultor ou qualquer outra pessoa que seja divergente deste contrato</b>, devendo ser desconsiderado todo e qualquer instrumento que não seja parte integrante deste contrato.</p>
    <p><b>6.3</b>     A CONTRATANTE autoriza o uso de sua imagem em fotos ou filmagens, ou gravações telefônicas e via whatsapp, com ou sem finalidade comercial, por parte da empresa PRESTADORA DE SERVIÇO de consultoria financeira. A presente autorização é concedida a título gratuito, abrangendo o uso da <u>imagem e voz</u>, acima mencionada em todo território nacional e no exterior, em todas as suas modalidades, inclusive para exposição no Instagram,  junto ao perfil da referida empresa.</p>
    <p><b>6.4</b>     As partes elegem o foro da comarca de __________________ para resoluções de conflitos.</p>
    <p>Por estarem assim justos e contratados, reputando o avençado por bom, firme e valioso, firmam o presente instrumento, em 02 (duas) vias de igual teor, juntamente com 02 (duas) testemunhas.</p>
    <p>Data: _______________________________            	Cidade: _____________________________ </p>
    <center><h4 style="color:red">NÃO ASSINE SEM LER.</h4></center>
    <center><h4 style="color:red">LEIA COM ATENÇÃO O CONTRATO DO SEU PRODUTO FINANCEIRO ESCOLHIDO</h4></center>
    <br />
    <br />
    <table style="border: none !important; width: 100%;">
        <thead style="border: none !important">
            <tr style="border: none !important">
                <th style="border: none !important; width: 50%;"></th>
                <th style="border: none !important; width: 50%;"></th>
            </tr>
        </thead>
        <tbody style="border: none !important">
            <tr class="text-center" style="border: none !important">
                <td style="border: none !important"><center>____________________________________</center><br /><center>CONTRATANTE</center><br /><center>(Declaro que li e concordei com todas as cláusulas)</center></td>
                <td style="border: none !important"><center>____________________________________</center><br /><center>CONTRATADA</center><br />&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table style="border-bottom: thick; border-left: thick; border-right: thick; border-top: thick ">
        <tr>
            <td>TESTEMUNHA 1: _________________________<br /><br /><br />TESTEMUNHA 2: _________________________<br /> <br /><br /> </td>
            <td>CONTATO: _________________________<br /><br /><br />CONTATO: _________________________<br /> <br /><br /> </td>
            <td>CPF: _________________________<br /><br /><br />CPF: ________________________<br /> <br /><br /> </td>
        </tr>
    </table>

</body>
</html>