@using System.Security.Claims;
@using GrupoSelect.Domain.Util;
@using GrupoSelect.Web.Helpers;
@using System.Globalization;
@model GrupoSelect.Web.ViewModel.ContractVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/daterangepicker.css" rel="stylesheet" />
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Contrato <i class="fa fa-chevron-right"></i> Pesquisar
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                @using (Html.BeginForm("Index", "Contract", FormMethod.Post, new { @id = "search", @class = "form-horizontal col-md-12 col-xs-12" }))
                {
                   @* <div class="form-group col-md-4 col-xs-12">
                        @Html.LabelFor(model => model.ClientId)
                        <select asp-for="ClientId" id="ddlClient" class="form-control js-example-responsive component-select" style="width: 100%">
                            <option value="">-- Selecione --</option>
                        </select>
                    </div>*@
                    <div class="form-group col-md-4 col-xs-12">
                        @Html.LabelFor(model => model.ContractNum)
                        @Html.TextBoxFor(model => model.ContractNum, new { @class = "form-control text-uppercase" })
                    </div>
                    <div class="form-group col-md-4 col-xs-12">
                        @Html.Label("Período")
                        <input type="text" id="dateFilter" class="form-control" value="">
                    </div>
                    <div class="form-group col-md-4 col-xs-12">
                        @Html.LabelFor(model => model.Status)
                        @Html.DropDownListFor(model => model.Status, GrupoSelect.Web.Util.UtilWeb.GetContractStatusList(Model.Status), new { @class = "form-control js-example-responsive component-select", @style = "width: 100%;" })
                    </div>
                }
            </div>
            <div class="row">
                <div class="form-group col-md-12 col-xs-12 text-right">
                    <button type="button" onclick="GetContractData(1);" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table id="search" class="table table-striped table-bordered" style="width:100%" data-page-length='2'>
                            <thead>
                                <tr>
                                    @{
                                        if (User.GetProfile() == Constants.PROFILE_ADMINISTRATIVO || User.GetProfile() == Constants.PROFILE_GERENTE || User.GetProfile() == Constants.PROFILE_DIRETOR)
                                        {
                                            <th class="column text-center" data-prefix="" data-sufix="" data-column="proposal.user.representation" data-css="text-center">Representação</th>
                                        }
                                    }

                                    <th class="column text-center" data-prefix="" data-sufix="" data-column="contractNum" data-css="text-center">Nº Contrato</th>
                                    <th class="column text-center" data-prefix="" data-sufix="" data-column="proposal.client.name" data-css="text-center">Cliente</th>
                                    <th class="column text-center" data-prefix="" data-sufix="" data-column="status" data-css="text-center">Status</th>
                                    <th class="column text-center" data-prefix="" data-sufix="" data-column="dateStatus" data-css="text-center">Última Atualização</th>
                                    <th class="column text-center" style="width:10%;" data-column="" data-css="text-center">Ação</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div id="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/jquery.inputmask.bundle.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script>
        $(document).ready(function () {
            //FillSelect("@Url.Action("GetClientList", "Proposal")", { Active: true }, "#ddlClient");
            $('.component-select').select2();
            moment.locale('pt-br');
            void 0 !== $.fn.daterangepicker && $("#dateFilter").daterangepicker({
                startDate: '@DateTime.Now.Date.AddDays(-7).ToShortDateString()',
                endDate: '@DateTime.Now.Date.ToShortDateString()',
                locale: {
                    format: "DD/MM/YYYY",
                    "applyLabel": "Selecionar",
                    "cancelLabel": "Cancelar",
                }
            });

            GetContractData();
        });

        function GetContractData(pagina) {
            SearchContract(pagina);
        }

        function SearchContract(pagina) {
            var form = $("#search");
            var model = form.serializeObject();

            model.StartDate = moment($('#dateFilter').data('daterangepicker').startDate._d).format('LL');
            model.EndDate = moment($('#dateFilter').data('daterangepicker').endDate._d).format('LL');

            var qtdPagina = 20;

            if (pagina == null) {
                pagina = 1;
            }

            $('#loading').show();

            $.ajax({
                url: form[0].action + "?page=" + pagina + "&qtPage=" + qtdPagina,
                type: 'POST',
                dataType: 'json',
                data: model,
                success: function (data) {

                    if (data.success) {
                        if (!$.fn.DataTable.isDataTable($('table'))) {
                            $('table').DataTable({
                                order: [],
                                paging: false,
                                searching: true,
                                lengthChange: false,
                                dom: "Blfrtip",
                                buttons: [{
                                    extend: "excel",
                                    className: "btn btn-primary btn-sm",
                                    exportOptions: {
                                        columns: 'th:not(:last-child)'
                                    }
                                }, {
                                    extend: "pdfHtml5",
                                    orientation: 'landscape',
                                    pageSize: 'A4',
                                    className: "btn btn-primary btn-sm",
                                    exportOptions: {
                                        columns: 'th:not(:last-child)'
                                    },
                                    customize: function (doc) {
                                        doc.content[1].margin = [100, 0, 100, 0];
                                        //doc.styles.tableBodyOdd.alignment = 'center';
                                        //doc.styles.tableBodyEven.alignment = 'center';
                                    }
                                }, {
                                    extend: "print",
                                    className: "btn btn-primary btn-sm",
                                    exportOptions: {
                                        columns: 'th:not(:last-child)'
                                    }
                                }],
                                "responsive": true,
                                "bAutoWidth": false,
                                "info": false,
                                "drawCallback": function (settings) {
                                    AplicarCSSDTT();
                                }
                            });
                        }

                        var dt = $('table').DataTable().clear().draw();

                        $.each(data.object, function (i, item) {
                            var row = [];

                            $('.column').each(function () {
                                var coluna = $(this).data('column');
                                var prefix = $(this).data('prefix');
                                var sufix = $(this).data('sufix');

                                if (coluna) {

                                    var cols = coluna.split(".");

                                    if (cols.length == 1) {
                                        if (typeof (item[coluna]) === "boolean") {
                                            row.push(item[coluna] ? 'Sim' : 'Não');
                                        } else if (item[coluna] !== null && item[coluna] !== undefined && moment(item[coluna], moment.ISO_8601, true).isValid()) {
                                            row.push(moment(item[coluna]).format("DD/MM/YYYY"));
                                        } else {
                                            row.push(prefix + item[coluna] + sufix);
                                        }
                                    } else if (cols.length > 1) {
                                        var value = item[cols[0]];

                                        for (var i = 1; i < cols.length; i++) {
                                            value = value[cols[i]];
                                        }

                                        if (typeof (value) === "boolean") {
                                            row.push(value ? 'Sim' : 'Não');
                                        } else if (item[coluna] !== null && item[coluna] !== undefined && moment(item[coluna], moment.ISO_8601, true).isValid()) {
                                            row.push(moment(item[coluna]).format("DD/MM/YYYY"));
                                        } else {
                                            row.push(prefix + value + sufix);
                                        }
                                    }
                                }
                            });

                            var actionButtons = "";
                            
                            actionButtons += "<a title='Visualizar Contrato' class='btn btn-xs btn-info' target = '_blank' href='" + '@Url.Action("PrintContract", "Contract")' + "\/" + item.id + "'><span class='glyphicon glyphicon-print' aria-hidden='true'></span></a>";

                            if ('@User.GetProfile()' === '@Constants.PROFILE_REPRESENTANTE') {
                                if (item['status'] === '@Constants.CONTRACT_STATUS_AD' || item['status'] === '@Constants.CONTRACT_STATUS_CR') {
                                    actionButtons += "<a title='Editar' class='btn btn-xs btn-warning' href='" + '@Url.Action("Edit", "Contract")' + "\/" + item.id + "'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span></a>";
                                }
                            } else if ('@User.GetProfile()' === '@Constants.PROFILE_ADMINISTRATIVO') {
                                if (item['status'] === '@Constants.CONTRACT_STATUS_PA') {
                                    actionButtons += "<a title='Conferir Contrato' class='btn btn-xs btn-success' href='" + '@Url.Action("Check", "Contract")' + "\/" + item.id + "'><span class='glyphicon glyphicon-eye-open' style='color:white; cursor: pointer;' aria-hidden='true'></span></a>";
                                }
                            } else if ('@User.GetProfile()' === '@Constants.PROFILE_DIRETOR' || '@User.GetProfile()' === '@Constants.PROFILE_GERENTE') {
                                if (item['status'] === '@Constants.CONTRACT_STATUS_AD') {
                                    actionButtons += "<a title='Editar' class='btn btn-xs btn-warning' href='" + '@Url.Action("Edit", "Contract")' + "\/" + item.id + "'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span></a>";
                                }
                                if (item['status'] === '@Constants.CONTRACT_STATUS_PA') {
                                    actionButtons += "<a title='Conferir Contrato' class='btn btn-xs btn-success' href='" + '@Url.Action("Check", "Contract")' + "\/" + item.id + "'><span class='glyphicon glyphicon-eye-open' style='color:white; cursor: pointer;' aria-hidden='true'></span></a>";
                                }
                                if (item['status'] !== '@Constants.CONTRACT_STATUS_CC' && item['status'] !== '@Constants.CONTRACT_STATUS_CA') {
                                    actionButtons += "<a title='Cancelar Contrato' class='btn btn-xs btn-danger' onclick='CancelContract(" + item.id + ", " + pagina + ");'><span class='glyphicon glyphicon-remove' style='color:white; cursor: pointer;' aria-hidden='true'></span></a>"
                                } 
                            }

                            row.push(actionButtons)

                            dt.row.add(row).draw(false);
                        });

                        AplicarCSSDTT();
                        AplicarDTT();

                        RenderProposalPagination(data.page, data.total, qtdPagina);
                    } else {
                        AplicarCSSDTT();
                        AplicarDTT();

                        if (data.errors) {
                            ShowModalListWarning(data.errors);
                        } else {
                            ShowModalError(data.message);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    ShowModalError('Não foi possível acessar o servidor. Entre em contato com o Administrador.');
                }
            });
        }

        function CancelContract(idExclusao, pagina) {
            swal({
                title: 'Deseja continuar o cancelamento?',
                text: "Após confirmação, não será possível reverter!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#286090',
                cancelButtonColor: '#d9534f',
                confirmButtonText: 'Sim, cancelar!',
                cancelButtonText: 'Não, voltar!',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function () {
                $('#loading').show();
                $.ajax({
                    url: '@Url.Action("Cancel", "Contract")',
                    type: 'POST',
                    data: { 'id': idExclusao },
                    success: function (data) {
                        if (data.success) {
                            swal('Sucesso!', data.message, 'success');
                        } else {
                            if (data.errors) {
                                ShowModalListWarning(data.errors);
                            } else {
                                ShowModalError(data.message);
                            }
                        }

                        SearchContract(pagina);
                    },
                    error: function (xhr, status, error) {
                        ShowModalError('Não foi possível acessar o servidor. Entre em contato com o Administrador.');
                    }
                });
            }, function (dismiss) {
                if (dismiss === 'cancel') {
                    swal('Abortado', 'A ação foi abortada pelo usuário!', 'error');
                }
            });
        }

        function RenderProposalPagination(paginaatual, totalregistros, qtdpage = 20) {

            var qtdpaginas = Math.ceil(totalregistros / qtdpage);

            var html = '<div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">' +
                '<div class="row">' +
                '<div class="col-sm-12 col-md-5">';

            if (totalregistros === 0) {
                //html = html + '<div class="dataTables_info">Não há registros</div>';
                html = html + '<div class="dataTables_info"></div>';
            } else if ((paginaatual * qtdpage) >= totalregistros) {
                html = html + '<div class="dataTables_info">Exibindo ' + ((paginaatual * qtdpage) - (qtdpage - 1)) + ' a ' + totalregistros + ' de um total de ' + totalregistros + ' registros</div>';
            } else {
                html = html + '<div class="dataTables_info">Exibindo ' + ((paginaatual * qtdpage) - (qtdpage - 1)) + ' a ' + (paginaatual * qtdpage) + ' de um total de ' + totalregistros + ' registros</div>';
            }

            html = html + '</div>' +
                '<div class="col-sm-12 col-md-7">' +
                '<div class="dataTables_paginate paging_simple_numbers">' +
                '<ul class="pagination">';

            if (paginaatual === 1) {
                html = html + '<li class="paginate_button page-item previous disabled"><a href="#" class="page-link">Anterior</a></li>';
            } else {
                html = html + '<li class="paginate_button page-item previous"><a href="#" onclick="GetContractData(' + (paginaatual - 1) + ');" class="page-link">Anterior</a></li>';
            }

            for (var i = 1; i <= qtdpaginas; i++) {
                if (paginaatual === i) {
                    html = html + '<li class="paginate_button page-item active"><a href="#" onclick="GetContractData(' + i + ');" class="page-link">' + i + '</a></li>';
                } else {
                    html = html + '<li class="paginate_button page-item"><a href="#" onclick="GetContractData(' + i + ');" class="page-link">' + i + '</a></li>';
                }
            }

            if (qtdpaginas === paginaatual || qtdpaginas === 0) {
                html = html + '<li class="paginate_button page-item next disabled"><a href="#" class="page-link">Próximo</a></li>';
            } else {
                html = html + '<li class="paginate_button page-item next"><a href="#" onclick="GetContractData(' + (paginaatual + 1) + ');" class="page-link">Próximo</a></li>';
            }

            html = html + '</ul></div></div></div></div>';

            $('#pagination').html(html);
        }

    </script>
}