@model GrupoSelect.Web.ViewModel.CreditVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Crédito <i class="fa fa-chevron-right"></i> Cadastrar
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @using (Html.BeginForm("Create", "Credit", FormMethod.Post, new { @id = "create", @class = "form-horizontal form-label-left" }))
                {
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            @Html.LabelFor(model => model.ProductTypeId) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <select asp-for="ProductTypeId" id="ddlProductType" class="form-control js-example-responsive component-select" style="width: 100%">
                                <option value="">-- Selecione --</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.ProductTypeId, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            @Html.LabelFor(model => model.TableTypeId) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <select asp-for="TableTypeId" id="ddlTableType" class="form-control js-example-responsive component-select" style="width: 100%">
                                <option value="">-- Selecione --</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.TableTypeId, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            @Html.LabelFor(model => model.FinancialAdminId) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <select asp-for="FinancialAdminId" id="ddlFinancialAdmin" class="form-control js-example-responsive component-select" style="width: 100%">
                                <option value="">-- Selecione --</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.FinancialAdminId, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            @Html.LabelFor(model => model.Months) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            @Html.TextBoxFor(model => model.Months, new { required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Months, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            @Html.LabelFor(model => model.CreditValue) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            @Html.TextBoxFor(model => model.CreditValue, new {@class = "form-control money" })
                            @Html.ValidationMessageFor(model => model.CreditValue, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            @Html.LabelFor(model => model.PortionValue) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            @Html.TextBoxFor(model => model.PortionValue, new {@class = "form-control money" })
                            @Html.ValidationMessageFor(model => model.PortionValue, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            @Html.LabelFor(model => model.MembershipValue) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            @Html.TextBoxFor(model => model.MembershipValue, new {@class = "form-control money", @disabled="disabled" })
                            @Html.ValidationMessageFor(model => model.MembershipValue, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            @Html.LabelFor(model => model.TotalValue) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            @Html.TextBoxFor(model => model.TotalValue, new {@class = "form-control money", @disabled="disabled" })
                            @Html.ValidationMessageFor(model => model.TotalValue, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="button" class="btn btn-success submit">Salvar</button>
                            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/jquery.inputmask.bundle.min.js"></script>
    <script src="~/js/jquery.maskmoney.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            FillSelect("@Url.Action("GetProductTypeList", "Credit")", null, "#ddlProductType");
            FillSelect("@Url.Action("GetTableTypeList", "Credit")", null, "#ddlTableType");
            FillSelect("@Url.Action("GetFinancialAdminList", "Credit")", { Active: true }, "#ddlFinancialAdmin");
            $('.component-select').select2();
            InputMaskNumber("#Months", "3");
            MaskMoney();            
        });
        
        $(".submit").click(function (event) {
            Create(false, false);
        });

        $('#ddlTableType').on('select2:select', function (e) {
            UpdateMembershipValue();
        });

        $('#CreditValue').on('keyup', function (e) {
            UpdateMembershipValue();
        });

        $('#PortionValue').on('keyup', function (e) {
            UpdateTotalValue();
        });

        function UpdateTotalValue() {
            var PortionValue = $('#PortionValue').val();
            var MembershipValue = $('#MembershipValue').val();
            var valorTotal = ConvertMoneyFloat(PortionValue) + ConvertMoneyFloat(MembershipValue);
            $('#TotalValue').val(valorTotal.toLocaleString('pt-br', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
        }

        function UpdateMembershipValue() {
            if ($('#ddlTableType').val() !== "") {
                var CreditValue = $('#CreditValue').val();
                var MembershipFee = $('#ddlTableType option:selected').text().split('-')[1].trim();
                var MembershipValue = ConvertMoneyFloat(CreditValue) * parseFloat(MembershipFee) / 100.0;
                $('#MembershipValue').val(MembershipValue.toLocaleString('pt-br', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
                UpdateTotalValue();
            }
        }
       
    </script>
}
